.uk-navbar-dropdown-nav > li > a {
	color: #3d3d3d !important;
}
.navbar-brand {
	padding: 20px;
}
.uk-margin-small-right {
	margin-left: -10px;
	text-align: left !important;
	font-size: 40px;
}
.uk-navbar-right {
	padding: 20px;
}
.uk-navbar-dropdown {
	width: 290px !important;
}
@media only screen and (max-width: 520px) {
	body {
		background-color: lightblue;
	}
	.uk-navbar-nav {
		font-size: 10px;
	}

	.navbar-brand {
		padding: 6px;
		width: 40px;
		height: 40px;
	}
	.button {
		width: 30px;
		height: 30px;
	}

	.uk-navbar-dropdown {
		width: 230px !important;
		padding: 29px !important;
	}
	.text {
		font-size: 11px !important;
	}
}
